<div class="navbar-top navbar-dark bg-light py-2">
  <div class="container">
    <div class="d-lg-flex justify-content-lg-between align-items-center">
      <!-- Navbar top Left -->
      <ul class="nav">
        <li class="nav-item me-3">
          <span>
            <i class="far fa-clock me-2"></i>Visit time: {{ introData?.VisitTime || 'Not Available' }}
          </span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-headset me-2"></i>Call us now: {{ introData?.ContactNumber || 'Not Available' }}
          </a>
        </li>
      </ul>

      <!-- Navbar top Right -->
      <ul class="list-unstyled d-flex mb-0">
        <li *ngFor="let link of introData?.SocialLinks">
          <a class="nav-link px-2" [href]="link.URL" target="_blank">
            <i [class]="'fab fa-' + link.Platform?.toLowerCase()"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
