<section
  class="pt-0 position-relative overflow-hidden h-700px h-sm-600px h-lg-700px rounded-top-4 mx-2 mx-md-4"
  [style.backgroundImage]="'url(' + bannerData?.UserAvatar + ')'"
  style="
    background-position: center;
    background-size: cover;
  "
>
  <div class="bg-overlay bg-dark opacity-5"></div>

  <div class="container z-index-9 position-relative">
    <div class="row py-0 py-md-5 align-items-center text-center text-sm-start">
      <div class="col-sm-10 col-lg-8 col-xl-6 all-text-white my-5 mt-md-0">
        <div class="py-0 py-md-5 my-5">
          <h1 class="text-white display-5">
            {{ bannerData?.Title }} <!-- عرض العنوان -->
          </h1>
          <p class="text-white">
            {{ bannerData?.Description }} <!-- عرض الوصف -->
          </p>

          <div class="d-sm-flex align-items-center mt-4">
            <a
              *ngFor="let button of bannerData?.CallToActionButtons"
              [href]="button.Url"
              class="btn btn-primary me-2 mb-4 mb-sm-0"
            >
              {{ button.Text }} <!-- عرض نص الأزرار -->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
